@media (prefers-color-scheme: dark) {
    :root {
      --navbar-bg-color: #343a40;
      --navbar-text-color: #fff;
    }
    .navbar-nav .nav-link,
    .navbar-brand {
      color: #fff;
    }
  }
  
  @media (prefers-color-scheme: light) {
    :root {
      --navbar-bg-color: #f8f9fa;
      --navbar-text-color: #222930;
    }
    .navbar-nav .nav-link,
    .navbar-brand {
      color: var(--navbar-text-color);
    }
  }
  
  .navbar {
    background-color: var(--navbar-bg-color);
    color: var(--navbar-text-color);
  }
  @media (prefers-color-scheme: dark) {
    :root {
      --navbar-bg-color: #343a40;
      --navbar-text-color: #fff;
      --navbar-active-color: #fff;
    }
    .navbar-nav .nav-link,
    .navbar-brand {
      color: #fff;
    }
    .navbar-nav .nav-link.active {
      color: var(--navbar-active-color);
      font-weight: bold;
    }
  }
  
  @media (prefers-color-scheme: light) {
    :root {
      --navbar-bg-color: #f8f9fa;
      --navbar-text-color: #212529;
      --navbar-active-color: #212529;
    }
    .navbar-nav .nav-link,
    .navbar-brand {
      color: var(--navbar-text-color);
    }
    .navbar-nav .nav-link.active {
      color: var(--navbar-active-color);
      font-weight: bold;
    }
  }
  
  .navbar {
    background-color: var(--navbar-bg-color);
    color: var(--navbar-text-color);
  }
  
  
  