body {
  background-color: white !important;
  color: #222930 !important;
  font-family: Arial, sans-serif;
  font-size: 16px;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #222930 !important;
    color: white !important;
  }
}

.ml-10 {
  margin-left: 10%;
}
.mr-1 {
  margin-right: 1% !important;
}