.whiteboard {
    width: 100%;
    height: 300px;
    background-color: white;
    color: black;
    border: 2px solid black;
    padding: 20px;
    font-size: 24px;
    font-weight: bold;
    line-height: 1.5;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
}

.options {
    display: flex;
    justify-content: space-around;
    margin: 20px auto;
    width: 50%;
    font-size: 18px;
    font-weight: bold;
    line-height: 2;
}

.editor {
    width: 50%;
    height: 400px;
    border: 2px solid black;
    padding: 10px;
    position: relative;
    float: left;
}

.submitAnswer {
    display: inline-block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    float: right;
}

.run-btn {
    display: inline-block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

.options button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

.options button:hover {
    background-color: #3e8e41;
}

.options button.skip {
    background-color: #f44336;
}

.options button.skip:hover {
    background-color: #d32f2f;
}

.output {
    width: 50%;
    height: 400px;
    border: 2px solid black;
    padding: 20px;
    white-space: pre-wrap;
    float: right;
}

@media (max-width: 600px) {
    .whiteboard {
        width: 100%;
        height: 200px;
        font-size: 14px;
    }

    .options {
        flex-direction: column;
        width: 100%;
        font-size: 16px;
        line-height: 1.5;
    }

    .options button {
        width: 100%;
        margin-bottom: 10px;
    }

    .editor {
        width: 100%;
        height: 300px;
    }

    .output {
        display: block;
        width: 100%;
        height: 200px;
        border: 2px solid black;
        padding: 20px;
        white-space: pre-wrap;
    }
}